body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.75rem;
}
h1 {
    color: goldenrod;
    margin-bottom: 80px;
    font-size: 70px;
}
#start, #newcard{
    background-color: goldenrod;
    width: 200px;
    height: 50px;
    border-radius: 3px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 10px;
    margin-bottom: 0px;
    border: none;
    font-weight: 800;
    font-size: 20px;
    color: green;
    transition: 1s;
}
#start:hover, #newcard:hover {
    cursor: pointer;
    width: 250px;
    height: 60px;
}
#message {
    margin-top: 70px;
    font-style: italic;
}
#newcard {
    margin-top: -18px;
}